<div class="page-login">

	<div class="card-wrapper">

		<form class="form-signin" (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
			<div class="form-group">
				<input name="username" type="text" class="form-control" [(ngModel)]="model.username" focus-on="username" placeholder="Email" required>
			</div>
			<div class="form-group">
				<input name="password" type="password" class="form-control" [(ngModel)]="model.password" focus-on="password" placeholder="Password" required>
			</div>

			<div class="btn-container">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			</div>
		</form>

	</div>

</div>

{{username}}

{{password}}